<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <header class="header">
      <h1 class="title text-gradient--pink">Climate Live Meme Generator</h1>
    </header>
    <main class="content">
      <p class="help-button">
        <a href="#help">How do I use this?</a>
      </p>
      <div class="m-meme">
        <%= partial "partials/editor" %>
        <%= partial "partials/canvas" %>
      </div>
      <%= partial "partials/help" %>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
