<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <header class="header">
      <img class="logo" src="../../images/cl_logo.png">
      <h1 class="title">Climate Live Meme Generator</h1>
    </header>
    <main class="content">
      <div class="m-meme">
        <%= partial "partials/editor" %>
        <%= partial "partials/canvas" %>
      </div>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
